{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "GET", "uri": "https://api.twingly.com/analytics/Analytics.ashx?tsTo=&searchpattern=something&ts=&xmloutputversion=2&key=wrong&documentlang="}, "response": {"body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><blogstream xmlns=\"http://www.twingly.com\">\r\n  <operationResult resultType=\"failure\">The API key does not exist.</operationResult>\r\n</blogstream>", "encoding": "utf-8"}, "headers": {"Content-Type": "text/xml; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.twingly.com/analytics/Analytics.ashx?tsTo=&searchpattern=something&ts=&xmloutputversion=2&key=wrong&documentlang="}, "recorded_at": "2016-02-02T17:58:31"}], "recorded_with": "betamax/0.5.1"}