{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "GET", "uri": "https://api.twingly.com/analytics/Analytics.ashx?tsTo=&searchpattern=spotify+page-size%3A10&ts=&xmloutputversion=2&key=<TWINGLY-API-KEY>&documentlang=sv"}, "response": {"body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><twinglydata numberOfMatchesReturned=\"10\" secondsElapsed=\"0.237\" numberOfMatchesTotal=\"298411\"><post contentType=\"blog\">\r\n  <url>https://pradodesigncomblog.wordpress.com/2016/02/02/its-been-years-in-the-making-but-netflix-has-finally-pivoted-to-a-premium-channel-for-the-web-it-started-as-a-dvd-subscription-service-and-evolved-into-a-spotify-for-movies-but-now-that-ne</url>\r\n  <title><![CDATA[It\u2019s been years in the making, but Netflix has finally pivoted to a premium channel for the web. It started as a DVD subscription service and evolved into a Spotify for movies. But now that Netflix is available everywhere around the world, it is just like ]]></title>\r\n  <summary><![CDATA[from Pradodesign It\u2019s been years in the making, but Netflix has finally pivoted to a premium channel for the web. It started as a DVD subscription service and evolved into a Spotify for movies. But now that Netflix is available everywhere around the world, it is just like HBO without a cable channel. Read More http://ift.tt/1maMgkW http://ift.tt/1P9I4xH \r\nvia IFTTT]]></summary>\r\n  <languageCode>en</languageCode>\r\n  <published>2016-02-02 17:50:13Z</published>\r\n  <indexed>2016-02-02 17:52:40Z</indexed>\r\n  <blogUrl>https://pradodesigncomblog.wordpress.com/</blogUrl>\r\n  <blogName><![CDATA[pradodesign]]></blogName>\r\n  <authority>0</authority>\r\n  <blogRank>1</blogRank>\r\n  <tags>\r\n    <tag><![CDATA[Uncategorized]]></tag>\r\n  </tags>\r\n</post><post contentType=\"blog\">\r\n  <url>http://www.newnoisemagazine.com/rare-breed-recording-co-and-paper-plastick-to-help-release-of-the-slackers-lp</url>\r\n  <title><![CDATA[Rare Breed Recording Co. and Paper + Plastick to Help Release of The Slackers LP]]></title>\r\n  <summary><![CDATA[The Slackers\u2018 self-titled full length album will be supported by Rare Breed Recording Co. and Paper and Plastick. The Slackers release date is Feb 19t[...]
