{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.twingly.com/blog/search/api/v3/search?q=something&apiKey=wrong"
      },
      "response": {
        "body": {
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?><error code=\"40101\"><message>Unauthorized</message></error>",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/xml; charset=utf-8"
        },
        "status": {
          "message": "Unauthorized",
          "code": 401
        },
        "url": "https://api.twingly.com/blog/search/api/v3/search?q=something&apiKey=wrong"
      },
      "recorded_at": "2017-05-13T20:29:14"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}